.city {
    width: 60%;
    margin: 2rem auto;
    
    &-food {
        border: 1px solid $primary-color-mid;            
        margin-bottom: 2rem;
        box-shadow: .5rem 1rem 2rem rgba($primary-color-mid, .5);
        
        p {            
            padding: 1rem;
            text-align: center;
        }
    }
}